@import "tailwindcss";

html,
body,
#__nuxt {
  min-height: 100vh;
  margin: 0;
  background: #090c13;
  overflow-x: hidden;
}

body {
  color: #fff;
  font-family:
    Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

button,
input {
  font: inherit;
}

.p-ripple {
  overflow: hidden;
}
